@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.page__body {
  font-family: "PT Sans", sans-serif;
  width: 320px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-nav {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.main-nav__wrapper {
  text-align: center;
}
.main-nav__list {
  list-style: none;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}
.site-list__item,
.user-list__item {
  padding: 17px 0 12px;
  filter: drop-shadow(0 1px 4px #01010133);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
/* stylelint-disable function-url-quotes */
.logo-form {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px;
}
.hero-form-wraper {
  background-image: url("../img/background-mobile.jpg");
  background-color: #a5d1f1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.advantages {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.advantages-title,
.card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}
.advantages-heading {
  text-align: center;
  width: 284px;
  margin: 0 auto;
  padding: 32px 0 16px;
}
.advantages-description,
.advantages-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
  margin-top: 35px;
}
.card-number,
.card-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
}
.advantages-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.advantages-item__background1 {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}
.advantages-item__icon {
  margin: 25px 18px 25px 65px;
}
.advantages-item__background1:last-child {
  margin-top: 21px;
}
.advantages-item__background2 {
  background-color: #eeeeee;
  text-align: center;
  margin: 24px 26px;
}
.search {
  text-transform: uppercase;
  text-align: center;
}
.search-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 38px;
}
.search-hotels {
  margin-bottom: 32px;
}
.button-search {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
  color: #ffffff;
  padding: 16px 49px;
  background-color: #81b3d2;
  text-transform: uppercase;
}
.main-footer {
  margin-top: 100px;
}
.contacts__phone {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
ul {
  list-style: none;
}
.social__link,
.copyright__text {
  color: #000000;
}
.social__list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  margin-top: 33.5px;
}
.main-footer__copyright {
  margin-top: 46.55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-right: 12px;
}
.feedback {
  background-color: #ffffff;
}
.feedback-wraper {
  padding-top: 12px;
}
.feedback-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}
.feedback-deckriptor {
  width: 306px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.feedback-input-wraper {
  margin: 0 auto;
  padding: 0 auto;
}
.group-input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.label-data {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-left: 32px;
}
.input-from {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: 0;
  margin-left: 16px;
}
.input-from__bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
.input-from__icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
.radio-list,
.attractions-list {
  margin-top: 30px;
  padding: 0;
}
.control-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.radio-item,
.attractions-item {
  margin: 18px 0 18px 82px;
}
.emotion-label {
  display: inline;
  font-size: 18px;
  margin: 20px 21px;
  width: 280px;
  height: 150px;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px;
}
.catalog-wraper {
  width: 280px;
  margin: 0 auto;
}
.catalog-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}
.catalog-deckriptor {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.catalog-card {
  width: 280px;
  margin: 0 auto;
}
.catalog-list {
  padding: 0;
}
.link-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.link-descriptor,
.like-descriptor {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.card-title {
  padding: 15px 0 15px;
}
.card-like {
  display: flex;
  gap: 14px;
}
.card-list {
  padding: 24px 0 24px;
}
.catalog-medi {
  width: 280px;
  margin: 0 auto;
}
.media-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.media-descriptor {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
