@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.page__body {
  font-family: "PT Sans", sans-serif;
  width: 320px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main__nav {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.main__item {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.main__wrapper {
  text-align: center;
}
.main__list {
  list-style: none;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}
.site__item,
.user__item {
  padding: 17px 0 12px;
  filter: drop-shadow(0 1px 4px #01010133);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
.logo-form {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px;
}
.hero__wraper {
  background-image: url("../img/background-mobile.jpg");
  background-color: #a5d1f1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.advantages {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}
.advantages__heading {
  text-align: center;
  width: 284px;
  margin: 0 auto;
  padding: 32px 0 16px;
}
.advantages__description,
.advantages-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
  margin-top: 35px;
}
.advantages__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.advantages__item__background1 {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}
.advantages__item__icon {
  margin: 25px 18px 25px 65px;
}
.advantages__item__background1:last-child {
  margin-top: 21px;
}
.advantages__item__background2 {
  background-color: #eeeeee;
  text-align: center;
  margin: 24px 26px;
}
.search {
  text-transform: uppercase;
  text-align: center;
}
.search__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 38px;
}
.search__hotels {
  margin-bottom: 32px;
}
.main-footer {
  margin-top: 100px;
}
.contacts__phone {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.social__link,
.copyright__text {
  color: #000000;
  text-decoration: none;
}
.social__list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  margin-top: 33.5px;
  list-style: none;
}
.main-footer__copyright {
  margin-top: 46.55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-right: 12px;
  color: #000000;
  text-decoration: none;
}
.feedback {
  background-color: #ffffff;
}
.feedback__wraper {
  padding-top: 12px;
}
.feedback__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}
.feedback__deckriptor {
  width: 306px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.feedback__input__wraper {
  margin: 0 auto;
  padding: 0 auto;
}
.group__input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.catalog__media {
  width: 280px;
  margin: 0 auto;
}
.catalog__wraper {
  width: 280px;
  margin: 0 auto;
}
.catalog__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}
.catalog__deckriptor {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.catalog__card {
  width: 280px;
  margin: 0 auto;
}
.catalog__list {
  list-style: none;
  padding: 0;
}
.card-title {
  padding: 15px 0 15px;
}
.card-like {
  display: flex;
  gap: 14px;
}
.card-list {
  padding: 24px 0 24px;
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}
.card__number,
.card__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
}
.card__like {
  display: flex;
  margin-top: 14px;
}
.media__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.media__descriptor {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.input-from {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: 0;
  margin-left: 16px;
}
.input-from__bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
.input-from__icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
.label-data {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-left: 32px;
}
.link__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.link__descriptor,
.like__descriptor {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.button--search {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
  color: #ffffff;
  padding: 16px 49px;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
}
.like__descriptor {
  padding-left: 14px;
}
.radio__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}
.radio__item {
  margin: 18px 0 18px 82px;
}
.attraction__item {
  margin: 18px 0 18px 82px;
}
.attractions__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}
.control__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.emotion__label {
  display: inline;
  font-size: 18px;
  margin: 20px 21px;
  width: 280px;
  height: 150px;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px;
}
/*# sourceMappingURL=style.css.map */
