.advantages {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}

.advantages__heading {
  text-align: center;
  width: 284px;
  margin: 0 auto;
  padding: 32px 0 16px;
}

.advantages__description,
.advantages-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
  margin-top: 35px;
}

.advantages__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.advantages__item__background1 {
  background-color: rgba(129, 179, 210, 1);
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}

.advantages__item__icon {
  margin: 25px 18px 25px 65px;
}

.advantages__item__background1:last-child {
  margin-top: 21px;
}


.advantages__item__background2 {
  background-color: rgba(238, 238, 238, 1);
  text-align: center;
  margin: 24px 26px;
}
