.attractions-wraper {
  width: 320px;
  margin: 0 auto;
}

.attraction__item {
  margin: 18px 0 18px;
}

.attractions__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}

.attractions__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}


@media (min-width: @tablet-width) {
  .attractions-wraper {
    width: 648px;
  }

  // .attractions__title {
  //   width: 306px;
  // }

  .attractions__list {
    display: grid;
    grid-template-columns: 224px 224px;
    padding: 0 144px;
    gap: 16px 32px;
  }
}

@media (min-width: @desktop-width) {
  .attractions-wraper {
    width: 960px;
  }

  // .attractions__title {
  //   width: 648px;
  // }

  .attraction__item {
    margin: 18px 0 18px;
  }
}
