.button--search {
  width: 284px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
  color: #ffffff;
  padding: 16px 30px;
  background-color: rgba(129, 179, 210, 1);
  text-transform: uppercase;
  text-decoration: none;
}


@media (min-width: @tablet-width) {
  .button--search {
    padding: 15px 121px 18px;
  }
}
