.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}

.card__number,
.card__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
}


.card {
  color: #000000;
  text-align: center;
  padding: 40px 0;
}

.card--background2 {

  background-color: rgba(238, 238, 238, 1);
  text-align: center;
  padding: 24px 26px;
}


.card--background1 {
  background-color: rgba(129, 179, 210, 1);
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}

.card__icon {
  margin: 25px 18px 25px 65px;
}

