.catalog__media {
  width: 280px;
  margin: 0 auto;
}

.catalog__wraper {
  width: 280px;
  margin: 0 auto;
}

.catalog__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}

.catalog__deckriptor {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

// .catalog__foto {
//   width: 280px;
//   margin: 0 auto;
// }

// .catalog__list {
//
//
// }

@media (min-width: @tablet-width) {
  .catalog__wraper {
    width: 458px;
  }

  .catalog__title {
    font-size: 30px;
  }

  .catalog__deckriptor {
    font-size: 13px;
  }

  // .catalog__foto {
  //   width: 648px;
  // }

  // .catalog__list {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
}

@media (min-width: @desktop-width) {
  // .catalog__foto {
  //   width: 1200px;
  // }
}
