.catalog__media {
  width: 280px;
  margin: 0 auto;
}

.catalog__wraper {
  width: 280px;
  margin: 0 auto;
}

.catalog__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}

.catalog__deckriptor {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 26px;
}


@media (min-width: @tablet-width) {
  .catalog__wraper {
    width: 445px;
    padding-top: 27px;
    margin-bottom: 82px;
  }

  .catalog__title {
    font-size: 30px;
  }

  .catalog__deckriptor {
    font-size: 14px;
    margin-top: 33px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wraper {
    padding-top: 62px;
    margin-bottom: 88px;
  }
}
