.emotion {
  width: 100%;
  margin: 0 auto;
<<<<<<< HEAD
  // display: block;
=======
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
}

.emotion__label {
  display: inline;
<<<<<<< HEAD
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
<<<<<<< HEAD
  // margin: 20px 21px;
=======
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
  min-width: 280px;
  width: 100%;
  height: 150px;
  background-color: rgba(242, 242, 242, 1);
=======
  min-width: 248px;
  height: 119px;
  background-color: #f2f2f2;
>>>>>>> f9484f2e6b0e7143f22a5582b4da19abc0961844
  border: 0;
  padding: 16px;
}

.emotion__title {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

<<<<<<< HEAD
// .emotion__wraper {
//   // width: 320px;
//   padding: 0 21px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-end;
// }

=======
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
.emotion__label:focus,
.emotion__label:hover {
  background-color: rgba(229, 229, 229, 1);
}

.emotion__label:active {
  background-color: rgba(255, 255, 255, 1);
}

.emotion-field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.emotion__wraper {
  margin-bottom: 52px;
}

@media (max-width: @mobile-width-only) {
  .emotion__wraper {
<<<<<<< HEAD
    // width: 320px;
=======
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
    padding: 0 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
  }
<<<<<<< HEAD

  // .emotion-field {
  //   padding-top: 70px;
  // }
=======
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
}

.emotion__form {
  margin: 0 auto;
  width: 100%;
}

.emotion__button {
  width: 280px;
  margin-top: 56px;
  padding: 16px 0;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .emotion__title {
    font-size: 21px;
    line-height: 26px;
    margin-top: 24px;
    position: relative;
    margin-bottom: 26px;
  }

  .emotion__title::after {
    position: absolute;
    top: 9px;
    left: 0;
    content: " ";
    width: 122px;
    margin-top: 2px;
    border: 0;
    border-top: 1px solid #d6d6d6;
  }

  .emotion__title::before {
    position: absolute;
    right: 0;
    top: 9px;
    content: " ";
    width: 122px;
    margin-top: 2px;
    border: 0;
    border-top: 1px solid #d6d6d6;
  }

  .emotion__wraper {
    width: 648px;
    margin: 0 auto;
    padding: 0 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .emotion__label {
    font-size: 17px;
    width: 617px;
    height: 129px;
  }

  .emotion__button {
    width: 324px;
    margin-top: 49px;
  }

  .emotion-field {
    padding-top: 69px;
    font-size: 14px;
  }

  .emotion {
    width: 100%;
    // margin: -37px auto 65px;
  }
}

@media (min-width: @desktop-width) {
  .emotion__wraper {
    width: 768px;
  }

  .emotion__label {
    width: 737px;
    height: 128px;
  }

  .emotion__button {
    width: 384px;
  }

  .emotion__title::after {
    top: 9px;
    left: -95px;
    width: 278px;
  }

  .emotion__title::before {
    right: -97px;
    top: 9px;
    width: 278px;
  }
}
