.footer {
  margin-top: 42px;
}

.footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.footer__copyright {
  margin-top: 33.55px;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer__academy {
    fill: currentColor;
    width: 41px;
    height: 50px;
    vertical-align: middle;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    margin-top: 0;
  }

  .footer__wrapper {
    width: 768px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .footer__copyright {
    margin-right: 67px;
    margin-top: 0;
  }

  .footer__contacts {
    margin-left: 62px;
  }

  .footer__social {
    margin-left: 25px;
  }

  .footer__contacts--form {
    margin-left: 59px;
  }

  .footer__social--form {
    margin-left: 4px;
  }

  .footer__copyright--form {
    margin-right: 52px;
  }
}


@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 1200px;
  }

  .footer__contacts {
    margin-left: 120px;
  }

  .footer__copyright {
    margin-right: 130px;
  }

  .footer__contacts--form {
    margin-left: 121px;
  }

  .footer__social--form {
    margin-left: 4px;
  }

  .footer__copyright--form {
    margin-right: 111px;
  }
}


// .footer__academy {
//   fill: currentColor;
//   width: 60px;
//   height: 60px;
//   vertical-align: middle;
// }
