.foto__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}


.foto__like {
  display: flex;
  margin-top: 14px;
}

@media (min-width: @tablet-width) {
  .foto__item {
    width: 324px;
    height: 347px;
  }

  .foto__item--big {
    width: 648px;
    height: 480px;
  }
}

@media (min-width: @desktop-width) {
  .foto__item {
    width: 400px;
    height: 267px;
  }

  .foto__item--big {
    width: 1200px;
    height: 400px;
  }
}

