.header {
  margin-bottom: -40px;
  position: relative;
  z-index: 1;
  left: 0;
}

.header__wrapper {
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

// @media (min-width: @tablet-width) {
//   .header__wrapper {
//     margin-bottom: -2px;
//   }
// }

@media (min-width: @desktop-width) {
  height: 648px;
}


@media (min-width: @tablet-width) {
  .header__logo {
    display: flex;
    width: 100%;
  }

  .header {
    margin-bottom: -80px;
    position: relative;
    z-index: 1;
    left: 0;
  }
}
