.hero__logo {
  margin: 0 auto;
  vertical-align: middle;
}

.hero__wraper {
  margin: 0 auto;
  display: flex;
  width: 320px;
  height: 390px;
  align-items: center;
  background: url("../img/white-triangle.png") bottom no-repeat, url("../img/background-mobile.jpg") 100%;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .hero {
    margin: 0;
  }

  .hero__wraper {
    width: 768px;
    background: url("../img/white-triangle-tablet.png") bottom no-repeat, url("../img/background-tablet.jpg") 100%;

    // @media (min-resolution: 2dppx) {
    //   .hero__wraper {
    //     width: 1338px;
    //     // background-image: url("../img/background-tablet@2x.jpg");
    //     background: url("/img/white-triangle-tablet.png") bottom no-repeat, url("/img/background-tablet@2x.jpg") 100%;
    //     background-size: 1338px auto;
    //   }
    // }
  }

  .hero__logo {
    height:349px;
  }
}

@media (min-width: @desktop-width) {
  .hero__wraper {
    width: 1200px;
    background: url("../img/white-triangle-desktop.png") bottom no-repeat, url("../img/background-desktop.jpg") 100%;
  }
}
