
.input__wraper {
  width: 320px;
  margin: 0 auto;
}


.input__group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.input__title {
  text-align: center;
}

.input__from {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: 0;
  margin-left: 16px;
}

.input__from--bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}

.input__from--icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
