.link__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}


.link__descriptor,
.like__descriptor {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
