
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 26px;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: @lightgrey;
  color: #000000;
}
