
.radio__item {
  width: 280px;
  height: 46;
<<<<<<< HEAD
  // text-align: end;
=======
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
}


.radio__title {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}


.radio__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.radio__wraper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
<<<<<<< HEAD
  font-family: sans-serif;
=======
  font-family: "PT Sans", "Arial", sans-serif;
>>>>>>> a38dfe1f3ef86add5d15bf37f9f91141d0a19f89
  line-height: 1.5;
}

@media (min-width: @tablet-width) {
  .radio__wraper {
    width: 576px;
  }

  .radio__title {
    font-size: 21px;
  }

  .radio__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .radio__wraper {
    width: 960px;
  }

  .radio__list {

    gap: 28px;
  }
}
