.search {
  text-transform: uppercase;
  text-align: center;
}

.search__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 38px;
}

.search__hotels {
  margin-bottom: 32px;
}

