@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 26px;
}
.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}
@media (min-width: 1200px) {
  .page {
    box-shadow: 0 0 15px #cccccc;
  }
}
.contacts__phone {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.contact__wraper {
  width: 320px;
  margin: 0 auto;
}
.contact__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.contact__from {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: 0;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .contact__wraper {
    width: 298px;
    margin: 0 auto;
  }
  .contact__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contact__wraper {
    width: 402px;
  }
  .contact__from {
    width: 402px;
    margin-left: 16px;
  }
}
.nav__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
.nav {
  display: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.nav__list {
  list-style: none;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}
.nav__list__item {
  padding: 17px 0 12px;
  filter: drop-shadow(0 1px 4px #01010133);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
.nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.nav__toggle:hover,
.nav__toggle:active {
  background-color: #ffffff;
}
.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
.nav--closed .nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.nav--opened .nav__toggle {
  top: 58px;
  right: 3px;
}
.nav--opened .nav__toggle::before,
.nav--opened .nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #81b3d2;
}
.nav--opened .nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.nav--opened .nav__toggle::after {
  transform: rotate(-45deg);
}
.nav--opened .nav__toggle:active::before,
.nav--opened .nav__toggle:active::after {
  background-color: rgba(155, 32, 32, 0.3);
}
@media (max-width: 767px) {
  .nav--closed .site-list__item {
    display: none;
  }
  .nav--closed .site-list__item--active {
    display: block;
  }
  .nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .nav--closed .user-list__item {
    display: none;
  }
  .nav--opened .nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .nav--opened .nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .nav--nojs .nav__toggle {
    display: none;
  }
  .nav--nojs .nav__wrapper {
    position: static;
    min-height: 0;
  }
  .nav--nojs .site-list__item {
    display: block;
  }
  .nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin: 0 auto;
  }
  .nav__list {
    display: flex;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  .nav__link {
    color: #000000;
  }
  .nav__list__item {
    width: 153px;
    height: 56px;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .nav__wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .nav__list__item {
    width: 240px;
    height: 56px;
  }
}
.hero__logo {
  margin: 0 auto;
  height: 389px;
}
.hero__wraper {
  display: flex;
  width: 320px;
  background-image: url("../img/background-mobile.jpg");
  background-color: #a5d1f1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 63%;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__wraper {
    display: flex;
    width: 320px;
    background-image: url("../img/background-mobile.jpg");
    background-color: #a5d1f1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 63%;
    position: relative;
    margin: 0 auto;
  }
}
.advantages {
  width: 320px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}
.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}
.advantages__heading {
  text-align: center;
  width: 284px;
  margin: 0 auto;
  padding: 32px 0 16px;
}
.advantages__description,
.advantages-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
  margin-top: 35px;
}
.advantages__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.advantages__item__background1:last-child {
  margin-top: 21px;
}
@media (min-width: 768px) {
  .advantages {
    width: 768px;
  }
  .advantages__heading {
    width: 768px;
    margin: 0 auto;
    padding: 32px 0 16px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 256px;
  }
  .advantages__item--foto {
    width: 512px;
    padding: 0;
  }
  .advantages__card {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
  }
  .advantages__heading {
    width: 1200px;
    margin: 0 auto;
    padding: 32px 0 16px;
  }
  .advantages__item {
    width: 400px;
  }
  .advantages__item--foto {
    width: 800px;
  }
}
.search {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}
.search__title {
  margin: 0 auto;
  width: 262px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 38px;
}
.search__hotels {
  margin-bottom: 32px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
@media (min-width: 768px) {
  .search {
    width: 768px;
  }
  .search__title {
    width: 435px;
    font-size: 30px;
  }
  .search__hotels {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}
.footer {
  margin-top: 100px;
}
.footer__wrapper {
  width: 320px;
  margin: 0 auto;
}
.footer__copyright {
  margin-top: 46.55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-right: 12px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__wrapper {
    width: 768px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__copyright {
    margin-right: 76px;
    margin-top: 0;
  }
  .footer__contacts {
    margin-left: 45px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    width: 1200px;
  }
  .footer__contacts {
    margin-left: 104px;
  }
  .footer__copyright {
    margin-right: 136px;
  }
}
.feedback {
  background-color: #ffffff;
}
.feedback__wraper {
  padding-top: 12px;
  width: 320px;
  margin: 0 auto;
}
.feedback__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}
.feedback__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}
.feedback__deckriptor {
  width: 306px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .feedback__wraper {
    width: 435px;
  }
  .feedback__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 26px;
    margin-top: 24px;
  }
  .feedback__deckriptor {
    width: 435px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
.catalog__media {
  width: 280px;
  margin: 0 auto;
}
.catalog__wraper {
  width: 280px;
  margin: 0 auto;
}
.catalog__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}
.catalog__deckriptor {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.catalog__foto {
  width: 280px;
  margin: 0 auto;
}
.catalog__list {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__wraper {
    width: 458px;
  }
  .catalog__title {
    font-size: 30px;
  }
  .catalog__deckriptor {
    font-size: 13px;
  }
  .catalog__foto {
    width: 648px;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .catalog__foto {
    width: 1200px;
  }
}
.input__wraper {
  width: 320px;
  margin: 0 auto;
}
.input__group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.input__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.input__from {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: 0;
  margin-left: 16px;
}
.input__from--bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
.input__from--icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;
}
@media (min-width: 768px) {
  .input__wraper {
    width: 280px;
  }
  .input__contact {
    display: flex;
    justify-content: center;
    gap: 88px;
  }
  .input__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .input__wraper {
    width: 430px;
  }
  .input__contact {
    gap: 128px;
  }
  .input__title {
    font-size: 21px;
  }
  .input__from {
    width: 430px;
    height: 58px;
    margin-left: 16px;
  }
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}
.card__number,
.card__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  list-style: 21px;
}
.card--icon {
  color: #000000;
  text-align: center;
  padding: 40px 0;
}
.card--background2 {
  background-color: #eeeeee;
  text-align: center;
  padding: 24px 26px;
}
.card--background1 {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}
.card__icon {
  margin: 25px 18px 25px 65px;
}
.card-title {
  padding: 15px 0 15px;
}
.card-like {
  display: flex;
  gap: 14px;
}
.card-list {
  padding: 24px 0 24px;
}
.media {
  margin: 0 auto;
}
.media__title {
  width: 266px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.media__descriptor {
  width: 266px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.media__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .madia__wrapper {
    width: 648px;
    height: 500px;
    margin: 0 auto;
  }
  .media__title {
    width: 445px;
    font-size: 30px;
  }
  .media__descriptor {
    width: 445px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .madia__wrapper {
    width: 800px;
    height: 500px;
  }
}
.label-data {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-left: 32px;
}
.link__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.link__descriptor,
.like__descriptor {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.button--search {
  width: 284px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
  color: #ffffff;
  padding: 16px 30px;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button--search {
    padding: 15px 121px 18px;
  }
}
.like__descriptor {
  padding-left: 14px;
}
.radio__item {
  width: 280px;
  height: 46;
  text-align: end;
}
.radio__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}
.radio__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}
.radio__wraper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .radio__wraper {
    width: 575px;
  }
  .radio__title {
    font-size: 21px;
  }
  .radio__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .radio__wraper {
    width: 960px;
  }
  .radio__list {
    gap: 28px;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 33.5px;
  list-style: none;
}
.social__link {
  color: #000000;
  text-decoration: none;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
@media (min-width: 768px) {
  .social__list {
    margin-top: 0;
  }
}
.foto__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}
.foto__like {
  display: flex;
  margin-top: 14px;
}
@media (min-width: 768px) {
  .foto__item {
    width: 324px;
    height: 267px;
  }
  .foto__item--big {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .foto__item {
    width: 400px;
    height: 267px;
  }
  .foto__item--big {
    width: 1200px;
    height: 400px;
  }
}
.attractions-wraper {
  width: 320px;
  margin: 0 auto;
}
.attraction__item {
  margin: 18px 0 18px;
}
.attractions__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}
.attractions__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}
@media (min-width: 768px) {
  .attractions-wraper {
    width: 648px;
  }
  .attractions__list {
    display: grid;
    grid-template-columns: 224px 224px;
    padding: 0 144px;
    gap: 16px 32px;
  }
}
@media (min-width: 1200px) {
  .attractions-wraper {
    width: 960px;
  }
  .attraction__item {
    margin: 18px 0 18px;
  }
}
.control__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.control {
  width: 280px;
}
.emotion__label {
  display: inline;
  font-size: 18px;
  width: 280px;
  height: 150px;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px;
}
.emotion__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}
.emotion__wraper {
  width: 320px;
  margin: 0 auto;
}
.emotion__form {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .emotion__title {
    font-size: 21px;
    line-height: 26px;
    margin-top: 24px;
  }
  .emotion__wraper {
    width: 648px;
    margin: 0 auto;
  }
  .emotion__label {
    width: 648px;
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .emotion__wraper {
    width: 768px;
  }
  .emotion__label {
    width: 768px;
    height: 160px;
  }
}
.header {
  margin-bottom: -40px;
  position: relative;
  z-index: 1;
  left: 0;
}
.header__wrapper {
  width: 100%;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1200px) {
  height: 648px;
}
@media (min-width: 768px) {
  .header__logo {
    display: flex;
    width: 100%;
  }
  .header {
    margin-bottom: -80px;
    position: relative;
    z-index: 1;
    left: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
